.login {
    .login__container {
        background-color: white;
        border-radius: 10px;
        border: 1px solid #CCC;
    }

    .error-message {
        color: red;
        font-size: 14px;
        margin-top: 8px;
    }

}

.text-blue {
    color: #2596be !important;
}